/*招聘信息*/
.recruitul{
    li{
        margin-top:20px;
        padding: 15px;
        background-color:#f2f2f2 
    }
    .leftpart{
        width: 400px;
    }
    .rightpart{
        width: 750px;
        margin-left: 20px;
        .togolist{
            p{
                line-height: 30px;
                text-indent: 15px;
            }
        }
        .title{
            font-weight: bold;
            font-size: 16px;
        }
    }
}
/*新闻列表*/
.newsList{
    li{
        margin-top: 20px;
        border: 1px solid #ccc;
        a{
            &:hover{
                color: #01AAED
            }
        }
        .newleft{
            width: 300px;
            height: 150px;
            overflow: hidden;
        }
        .newright{
            width: 858px;
            padding: 15px 20px;
            background-color: #f2f2f2
        }
        .newname{
            display: block;
            height: 30px;
            line-height: 30px;
            overflow: hidden;
        }
        .newdescribe{
            height: 60px;
            line-height: 30px;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 3;
            overflow: hidden;
        }
        .morewrap{
            line-height: 30px;
        }
    }
}
/*新闻详情页面*/
.newdetail{
    padding: 20px 0;
    .newtite{
        font-size: 16px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        overflow: hidden;
    }
    .newtime{
        text-align: center;
    }
}
/*关于我们页面*/
.contenttop{
    padding-top: 30px;
}
.abouttitle{
    position: relative;
    width: 40%;
    border-top: 2px solid #ddd;
    margin: 30px auto;
    span{
        position: absolute;
        line-height: 40px;
        top: -20px;
        left: 50%;
        margin-left: -67px;
        font-size: 16px;
        font-weight: bold;
        display: inline;
        padding: 0 30px;
        background-color: #fff;
    }
}
.contentpart{
    p{
        line-height: 30px;
    }
}
.centercontent{
    text-align: center
}
/*合作加盟*/
.cooperateform{
    width: 500px;
    margin: 20px auto;
    .item{
        margin-bottom: 15px;
        input{
            width: 430px;
            height: 40px;
            line-height: 40px;
            padding: 0 10px;
            outline: none;
            font-size: 14px;
            border: 1px solid #707682;
        }
    }
    .submitbtn{
        display: block;
        width: 450px;
        height: 40px;
        line-height: 40px;
        font-size: 16px;
        text-align: center;
        color: #fff;
        background-color: #01AAED;
        border: none;
    }
}