/*招聘信息*/
.recruitul{
    li{
        margin-top:20px;
        padding: 15px;
        background-color:#f2f2f2 
    }
    .leftpart{
        width: 400px;
    }
    .rightpart{
        width: 750px;
        margin-left: 20px;
        .togolist{
            p{
                line-height: 30px;
                text-indent: 15px;
            }
        }
        .title{
            font-weight: bold;
            font-size: 16px;
        }
    }
}
/*新闻列表*/
.newsList{
    li{
        margin-top: 20px;
        border: 1px solid #ccc;
        &:hover{
            background-color: #f2f2f2
        }
        .lefttip{
            font-size: 16px;
        }
        .newleft{
            width: 300px;
            overflow: hidden;
        }
        .hadread{
            font-size: 16px;
            margin-left: 20px;
        }
        .newright{
            width: 858px;
            padding: 15px 20px;
            &:hover{
                a{
                    color: #01AAED
                }
            }
            .newmore{
                margin-left: 10px;
            }
        }
        .newname{
            display: block;
            height: 30px;
            font-size: 22px;
            line-height: 30px;
            margin: 10px 0;
            overflow: hidden;
        }
        .newdescribe{
            height: 75px;
            line-height: 25px;
            font-size: 12px;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 3;
            overflow: hidden;
        }
        .morewrap{
            line-height: 30px;
        }
    }
}
/*新闻详情页面*/
.newout{
    padding: 25px 0 10px 0;
    border-bottom: 1px solid #f0eded;
    .lefttip{
        font-size: 16px;
    }
    .hadsee{
        margin-left: 20px;
    }
}
.newdetail{
    padding: 30px 0 20px 0;
    .newtite{
        font-size: 28px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        overflow: hidden;
    }
    .detaildescribe{
        margin-top: 20px;
        padding: 1em;
        line-height: 25px;
        background-color: #efefef;
    }
    .newcontent{
        margin-top:15px;
        p{
            line-height: 25px;
        }
    }
}
/*关于我们页面*/
.contenttop{
    padding-top: 30px;
}
.abouttitle{
    position: relative;
    width: 40%;
    border-top: 2px solid #ddd;
    margin: 30px auto;
    span{
        position: absolute;
        line-height: 40px;
        top: -20px;
        left: 50%;
        margin-left: -67px;
        font-size: 16px;
        font-weight: bold;
        display: inline;
        padding: 0 30px;
        background-color: #fff;
    }
}
.contentpart{
    p{
        line-height: 30px;
    }
}
.centercontent{
    text-align: center
}
/*合作加盟*/
.toptext{
    font-size: 30px;
    color: #666;
    padding: 50px 0 47px;
    text-align: center;
}
.topdes{
    border: 8px solid #eee;
    padding: 20px 30px;
    .topright{
        margin-left: 30px;
        li{
            font-size: 16px;
            margin: 80px 0;
        }
        .numbers{
            display: inline-block;
            width: 30px;
            height: 30px;
            line-height: 30px;
            border-radius: 10px;
            text-align: center;
            color: #fff;
            font-size: 14px;
            background-color: #FE7A5D;
            margin-right: 10px;
        }
    }
}
.bottomdes{
    height: 500px;
    padding: 20px 0 0 150px;
    background:#F9F9F9 url(../images/flowimg.gif) 50px center no-repeat;
    li{
        width: 1013px;
        height: 80px;
        background: url(../images/triangle.png) center no-repeat;
        padding: 17px 23px 0 35px;
        margin-bottom: 19px;
        box-sizing: border-box;
        .title{
            font-size: 16px;
            color: #ff6800;
            margin-bottom: 12px;
        }
    }
}